#main {
  position: absolute;
  top: 1.6rem;
}

#pin {
  padding: 0.4rem 0 0 0.4rem;
  float: left;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.16rem #ccc;
  border-radius: 0.133333rem;
}

.box img {
  width: 4.32rem;
  height: auto;
}


